.statistics {
  margin: 0 auto;
  background-color: rgb(180, 180, 180);
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 28px;
  background-color: #fff;
  margin: 0;
  padding: 25px 0;
}

.stat_list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.item {
  border: 1px solid black;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: limegreen;
}
